
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.numButton{
  color: yellow;
}

.hangmanPart{
  display: inline-block;
}

.displayLetter{
  padding: 5px;
  font-size: 30px;
  display: inline-block;
}

.displayLetter:hover{
  font-weight: bold;
}

.wordL{
  display: inline-block;
  text-align: center;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
}

#word{
  padding-top: 20px;
  padding-bottom: 50px;
}

#letters{
  padding-bottom: 50px;
}

#hangman {
  white-space: nowrap;
  width: auto;
  height: 252px;
}

#app{
  padding-left: 20px;
  padding-right:20px;
}

.slot{
  width: 70px;
  height: 37px;
}

#part2{
  height: 24px;
}

#part3{
  height: 24px;
}

#part4{
  height: 34px;
}

#part5{
  height: 54px;
}

#part6{
  height: 39px;
}

#part7{
  height: 39px;
}

#part8{
  height: 39px;
}

#part9{
  height: 74px;
}

#part10{
  height: 74px;
}