
.numButton{
  color: yellow;
}

.hangmanPart{
  display: inline-block;
}

.displayLetter{
  font-size: 30px;
  display: inline-block;
  width: 32px;
  text-align: center;
}

.displayLetter:hover{
  font-weight: bold;
}

.wordL{
  display: inline-block;
  text-align: center;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
}

#word{
  padding-top: 20px;
  padding-bottom: 50px;
}

#letters{
  padding-bottom: 20px;
}

#hangman {
  white-space: nowrap;
  width: auto;
  height: 252px;
}

#app{
  padding-left: 20px;
  padding-right:20px;
}

.slot{
  width: 70px;
  height: 37px;
}

#part2{
  height: 24px;
}

#part3{
  height: 34px;
}

#part4{
  height: 54px;
}

#part5{
  height: 39px;
}

#part6{
  height: 39px;
}

#part7{
  height: 39px;
}

#part8{
  height: 74px;
}

#part9{
  height: 74px;
}